.aside-box {
  margin-top: 2.5%;
  margin-left: 1.5% !important;
  border: solid 1px #282C2F;
  border-radius: 5px;
  position: absolute;
  background-color: #282C2F;
  color: #fff;
  height: 90vh;
  /* opacity: .9; */
  text-align: center;
}
.aside-content {
  opacity: 1 !important;
}
