body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.aside-box {
  margin-top: 2.5%;
  margin-left: 1.5% !important;
  border: solid 1px #2A332D;
  position: absolute;
  background-color: #2A332D;
  color: #fff;
  height: 500px;

}
